* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

body {
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  /* Fonts */
  color: white;
  font-family: "Montserrat", sans-serif;
}

.header {
  padding: 15px;
  text-align: center;
}
.header > * {
  margin: 5px;
}

.cards {
  border: solid;
  width: 300px;
  margin: 15px;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

i {
  height: max-content;
}
